.receipeTile__image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    transition: 0.5s all ease;
    margin-top: 2rem;
    cursor: pointer;
}
.receipeTile__image:hover{
    transform: scale(1.05);
}
.receipeTile__name{
    max-width: 250px;
    text-align: center;
    color: white;
    background-color: rgb(76, 207, 0);
    padding: 0.6rem 0;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}